html {
  font-family: latino-urw, serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: acme-gothic, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.banner-img-1 {
  display: inherit;
}

.banner-img-2 {
  display: none;
}

.section-2, footer, .bg-1 {
  background-color: #efefef;
}

hr {
  border-width: .5px;
  margin: auto;
}

.b1 {
  border: .5px solid black;
}

.btn-ghost {
  background-color: white;
  color: black;
  border: solid 1px black;
}

.btn-ghost-2 {
  background-color: white;
  color: black;
  border: solid 1px black;
  transition: background-color .3s linear, color .3s linear;
}

.btn-ghost-2:hover {
  background-color: black;
  color: white;
}

.btn-3 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
}

.btn-3:hover {
  color: gray;
}

.recipes {
  background-color: #efefef;
}

.cards {
  background-color: white;
}

@media only screen and (min-width: 38em) {

  .banner-img-1 {
    display: none;
  }

  .banner-img-2 {
    display: block;
    width: 100%;
  }

}

@media only screen and (min-width: 60em) {

  .img-1 {
    padding: 1em;
  }

}

/** ACME FONT INFO

Acme Gothic Bold
font-family: acme-gothic, sans-serif;
font-weight: 700;
font-style: normal;

Acme Gothic Semibold
font-family: acme-gothic, sans-serif;
font-weight: 600;
font-style: normal;

Acme Gothic Regular
font-family: acme-gothic, sans-serif;
font-weight: 400;
font-style: normal;

Acme Gothic Light
font-family: acme-gothic, sans-serif;
font-weight: 300;
font-style: normal;

Acme Gothic Black
font-family: acme-gothic, sans-serif;
font-weight: 800;
font-style: normal;

LATINO URW FONT INFO

Latino URW Regular
font-family: latino-urw, serif;
font-weight: 400;
font-style: normal;

Latino URW Bold
font-family: latino-urw, serif;
font-weight: 700;
font-style: normal;

Latino URW Black
font-family: latino-urw, serif;
font-weight: 900;
font-style: normal;

Latino URW Regular Italic
font-family: latino-urw, serif;
font-weight: 400;
font-style: italic;

Latino URW Bold Italic
font-family: latino-urw, serif;
font-weight: 700;
font-style: italic;

**/
